*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: white;
}
.plantar-1{
    margin-top: 30px;
    width: 121px;
    height: 120px;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background: url(<plantar1.png>), white 70% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.compost-by{
    margin-top: 10px;
    width: 100%;
    color: var(--titulos, #000);
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px; 
    text-align: center;
}
.login{
    margin-top: 35px;
    color: var(--titulos, #161719);
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
}
.usuario{
    width: 66px;
    height: 34px;
    flex-shrink: 0;
    color: #04021D;
    font-family: Nunito;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.rectangle-3{
    margin-top: 25px;
    width: 279px;
    height: 1.889px;
    padding: 12px 20px;
    flex-shrink: 0;
    background: white;
    border: none;
    color: black;
    box-sizing: border-box;
    border-bottom: 2px solid black;
}
.senha{
    width: 66px;
    height: 34px;
    flex-shrink: 0;
    color: #000;
    font-family: Nunito;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

}
.rectangle-4{
    margin-top: 25px;
    width: 279px;
    height: 1.889px;
    flex-shrink: 0;
    padding: 12px 20px;
    background: white;
    border: none;
    color: black;
    box-sizing: border-box;
    border-bottom: 2px solid black;
}
.esqueceu-a-senha{
    margin-left: 215px;
    margin-top: 5px;
    color: #BC0F0F;
    font-family: Nunito;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration-line: underline;
}
.rectangle-6{
    margin-top: 90px;
    width: 263px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #3D1D0B;
    color: white;

}
.rectangle-14{
    margin-top: 10px;
    width: 263px;
    height: 44px;
    flex-shrink: 0;
    color: #000;
    font-family: Nunito;
    font-size: 13px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    border-radius: 4px;
    border: 1px solid #000;
    background: #FAFBFD;
}
.rectangle-13{
  margin-top: 30px;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, #D3E2E5 35.94%, #FFF 42.8%, #FFF 56.07%, #D3E2E5 63.02%);
}
.ou{
  color: #525456;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  margin: 0 auto;
}
.google{
  width: 32px;
 height: 32px;
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
    .plantar-1 {
        margin-top: 15px;
        width: 80px; 
        height: 80px; 
    }
}
